{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 38.70700465764603,
        "longitude": -9.136086702346804,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Lisbon",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}